.hidden {
	display: none;
}

.qa-container{
	font-size: 2em;
	margin: 5% 0;
}

.question {
	margin-bottom: 1%;
	font-weight: bold;
	color: #B7F2E1;
}

.question, .response {
	display: block;
}

.byline-container {
	text-align: right;
	font-size: 1.5em;
}

/*mobile*/
@media screen and (max-width: 767px){
	.qa-container {
		font-size: 1.5em;
	}
}

