.stories-container {
	width: 80%;
	background-color: #1DBBB4;
	color: #F2F2F2;
	padding: 10% 10%;
}

.stories-heading {
	background-color: #F2F2F2;
    margin-bottom: 2%;
}

.stories-heading h2 {
	color: #1DBBB4;
}

.story-selectors-container {
	padding: 1%;
}

.story-selectors-container .fa {
	font-size: 3em;
	margin-right: 2.5%;
	margin-top: 2.5%;
	margin-bottom: 2.5%; 
}

.story-selectors-container .fa.selected{
	color: #B7F2E1;
}

.story-selectors-container .fa:hover {
	color: #B7F2E1;
}

.unread-story-count {
	font-size: 1.2em;
	width: 100%;
	padding-left: 1%;
	padding-top: 1%;
}

/*mobile*/
@media screen and (max-width: 767px){

	.stories-container {
		width: 90%;
		padding: 5% 5%;
	}

	.story-selectors-container .fa {
		font-size: 2.5em;
		padding: 0.2em;
	}
}