.recommendations-container {
	width: 80%;
	background-color: #F2F2F2;
	color: #BF0A2F;
	padding: 10% 10%;
}

.recommendations-heading {
	background-color: #EFBD2F;
	margin-bottom: 2%;
}

.recommendations-heading h2 {
	color: #F2F2F2;
}

.recommendation {
	width: 33.33%;
	height: 350px;
	background-color: #EFBD2F;
	display: inline-block;
	color: #F2F2F2;
    padding: 2%;
    box-sizing: border-box;
   	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
     vertical-align: top;
}

.recommendation .description {
	font-size: 2em;
}

.recommendation-highlight {
	font-weight: bold;
}

/*tablet*/
@media screen and (max-width: 1023px){
	.recommendation {
		width: 100%;
		height: auto;
	}
}


/*mobile*/
@media screen and (max-width: 767px){
	.recommendations-container {
		width: 90%;
		padding: 5% 5%;
	}

	.recommendation .description {
		font-size: 1.5em;
	}
}
