body {
	margin: 0;
	padding: 0;
}

.app-container {
	font-family: 'helvetica';
	width: 100%;
	margin: 0;
}

h1 {
	font-size: 8em;
	margin: 0;
}

h2 {
	font-size: 5em;
	margin: 0;
	padding: 1%;
}



/*tablet*/
@media screen and (max-width: 1023px){

  
}

/*mobile*/
@media screen and (max-width: 767px){
	h1 {
		font-size: 3.5em;
	}

	h2 {
		font-size: 2em;
	}
}
