.findings-container {
	width: 80%;
	background-color: #BF0A2F;
	color: #F2F2F2;
	padding: 10% 10%;
}

.findings-heading {
	background-color: #F2F2F2;
}

.findings-heading h2 {
	color: #BF0A2F;
}

.finding {
	width: 33.33%;
	height: 300px;
	background-color: #F2F2F2;
	display: inline-block;
	color: #BF0A2F;
    padding: 1%;
    box-sizing: border-box;
   	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	vertical-align: top;
}

.finding .description {
	font-size: 2em;
}

.finding-highlight {
	font-weight: bold;
}

/*tablet*/
@media screen and (max-width: 1023px){
	.finding {
		width: 100%;
		height: auto;
	}
}

/*mobile*/
@media screen and (max-width: 767px){
	.findings-container {
		width: 90%;
		padding: 5% 5%;
	}

	.finding .description {
		font-size: 1.5em;
	}
}
