.findings-container {
	width: 80%;
	background-color: #BF0A2F;
	color: #F2F2F2;
	padding: 10% 10%;
}

.findings-heading {
	background-color: #F2F2F2;
}

.findings-heading h2 {
	color: #BF0A2F;
	font-size: 5em;
	margin: 0;
	padding: 1%;
}

.finding {
	width: 33.33%;
	height: 300px;
	vertical-align: top;
	background-color: #F2F2F2;
	display: inline-block;
	color: #BF0A2F;
}

.finding .fa {
	font-size: 3em;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%; 
	padding-left: 1%;
}

.finding .fa:not(.highlight){
	color: #FFB2A5;
}