.footer-about-container {
	width: 80%;
	background-color: #BF0A2F;
	color: #F2F2F2;
	padding: 10% 10%;
}

.footer-about-heading {
	background-color: #F2F2F2;
}

.footer-about-heading h2 {
	color: #BF0A2F;
	font-size: 5em;
	margin: 0;
	padding: 1%;
}

.footer-about-container p {
	font-size: 1.5em;
	padding: 1%;
	color: #BF0A2F;
	font-size: 2em;
}

.footer-about-container p a{
	color: #BF0A2F;
	text-decoration: none;
	font-weight: bold;
}

.footer-contact-container {
	width: 80%;
	background-color: #F2F2F2;
	color: #EFBD2F;
	padding: 10% 10%;
}

.footer-contact-heading {
	background-color: #EFBD2F;
}

.footer-contact-heading h2 {
	color: #F2F2F2;
	font-size: 5em;
	margin: 0;
	padding: 1%;
}

.footer .fa {
	color: #F2F2F2;
	font-size: 4em;
	margin: 2%;
}